._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.footer {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  opacity: 0;
  background-color: rgba(236, 239, 241, 0.2);
  background-image: url(../Img/Footer/bg2.png);
  background-position: bottom;
  background-size: 100% 70%;
  background-repeat: no-repeat;
}

.footer._active {
  opacity: 1;
}

.footer__bottom {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer__menu-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(160px, 205px))[5];
  grid-template-columns: repeat(5, minmax(160px, 205px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.footer__title {
  margin-bottom: 50px;
  font-size: 18px;
}

.footer__title > span {
  font-size: 18px;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.footer__title > span.active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer__title > span::before {
  display: none;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.footer__info {
  margin: 0px 0px 38px 0px;
}

.footer__contacts > li {
  padding: 5px 0px 5px 0px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list > li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.footer__list > li > a {
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.footer__socials > a:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.footer__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47px;
          flex: 0 0 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.footer__media::before {
  color: #2376cf;
  font-size: 22px;
}

.bigcontainer {
  max-width: 1435px;
  margin: 0 auto;
}

.sub-form {
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
  padding-left: 10px;
  overflow: hidden;
  padding-right: 10px;
  -webkit-box-shadow: 0px 42px 35px 0px rgba(31, 110, 227, 0.15);
          box-shadow: 0px 42px 35px 0px rgba(31, 110, 227, 0.15);
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.sub-form._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.sub-form__title {
  font-size: 36.1px;
  line-height: 45px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  font-size: 35px;
  max-width: 915px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.sub-form__center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 40px 0px;
}

.sub-form__input {
  max-width: 100%;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43%;
          flex: 0 1 43%;
  height: 69px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 0px 36px;
  font-size: 24.1px;
  line-height: 36px;
  font-weight: 400;
  color: #546e7a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sub-form__input::-webkit-input-placeholder {
  opacity: 0.6;
  font-family: "Open Sans";
  font-size: 24.1px;
  line-height: 36px;
  font-weight: 400;
  color: #546e7a;
}

.sub-form__input::-moz-placeholder {
  opacity: 0.6;
  font-family: "Open Sans";
  font-size: 24.1px;
  line-height: 36px;
  font-weight: 400;
  color: #546e7a;
}

.sub-form__input:-ms-input-placeholder {
  opacity: 0.6;
  font-family: "Open Sans";
  font-size: 24.1px;
  line-height: 36px;
  font-weight: 400;
  color: #546e7a;
}

.sub-form__input::-ms-input-placeholder {
  opacity: 0.6;
  font-family: "Open Sans";
  font-size: 24.1px;
  line-height: 36px;
  font-weight: 400;
  color: #546e7a;
}

.sub-form__input::placeholder {
  opacity: 0.6;
  font-family: "Open Sans";
  font-size: 24.1px;
  line-height: 36px;
  font-weight: 400;
  color: #546e7a;
}

.sub-form__input.error {
  border: 2px solid red;
}

.sub-form__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 17%;
          flex: 0 1 17%;
  display: block;
  height: 80px;
  background-color: #00aeff;
  -webkit-box-shadow: 0px 22px 24px 0px rgba(17, 83, 165, 0.2);
          box-shadow: 0px 22px 24px 0px rgba(17, 83, 165, 0.2);
  border-radius: 40px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
  color: #fbfcfc;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  padding: 0px 30px 0px 30px;
}

.sub-form__form {
  position: relative;
  z-index: 3;
}

.sub-form__form > div:last-child {
  margin-top: 70px;
  margin-bottom: 0;
}

.sub-form__bg {
  position: absolute;
  width: 100%;
  height: 110%;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1500px) {
  .footer {
    background-position: bottom 0 left 30% !important;
  }
}

@media (max-width: 1435px) {
  .footer__bottom {
    padding-top: calc(40px + 60 * ((100vw - 320px) / (1115)));
  }

  .footer__bottom {
    padding-bottom: calc(20px + 60 * ((100vw - 320px) / (1115)));
  }

  .footer__title {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / (1115)));
  }

  .footer__title {
    font-size: calc(16px + 2 * ((100vw - 320px) / (1115)));
  }

  .footer__socials {
    margin-top: calc(20px + 60 * ((100vw - 320px) / (1115)));
  }

  .sub-form {
    padding-top: calc(20px + 60 * ((100vw - 320px) / (1115)));
  }

  .sub-form {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / (1115)));
  }

  .sub-form__title {
    font-size: calc(20px + 15 * ((100vw - 320px) / (1115)));
  }

  .sub-form__title {
    margin-bottom: calc(24px + 36 * ((100vw - 320px) / (1115)));
  }

  .sub-form__form > div:last-child {
    margin-top: calc(40px + 30 * ((100vw - 320px) / (1115)));
  }
}

@media (max-width: 1300px) {
  .footer__title {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .footer {
    background-size: 100% 100%;
    background-position: bottom 0 left 0;
  }

  .footer__menu-row {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer__menu {
    text-align: center;
  }

  .footer__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 800px) {
  .sub-form {
    border-radius: unset;
  }

  .sub-form__bg {
    border-radius: unset;
  }
}

@media (any-hover: hover) and (max-width: 700px) {
  .footer__list > li > a:hover {
    color: #202020;
  }
}

@media (max-width: 600px) {
  .footer__menu-row {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media (max-width: 450px) {
  .footer__menu-row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[5];
    grid-template-rows: repeat(5, auto);
  }

  .footer__title > span {
    padding: 0px 25px 0px 0px;
  }

  .footer__title > span::before {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 2px;
  }

  .footer__title {
    margin: 0px 0px 0px 0px;
  }

  .footer__list {
    display: none;
    text-align: center;
    padding: 10px 0px 0px 0px;
  }
}

@media (any-hover: hover) {
  .footer__list > li > a:hover {
    color: #c5c1c1;
  }

  .footer__media:hover {
    background-color: #f3e1e1;
  }

  .footer__media:hover::before {
    color: #0f7bee;
  }

  .sub-form__button:hover {
    background-color: #1996cf;
  }
}